div.nav-contact{
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
}

h2.return-accueil{
    text-transform: var(--capitalize);
    font-weight: var(--regular-weight);
    font-family: var(--font-montserrat);
}

h2.return-accueil a{
    color: var(--color-text);
    text-decoration: none;
}

div.case-contact{
    margin-top: 25vh;
}

h1.title-contact{
    font-family: var(--font-orbitron);
    font-size: var(--font-size-titre);
    text-transform: var(--majuscule);
    -webkit-text-stroke: var(--border-titre-majuscule);
    -webkit-text-fill-color: var(--color-titre-pricipale);
    margin: 0px;
    margin-bottom: 45px;
    letter-spacing: 10px;
    text-align: center;
}

div.padding-info-form{
    width: calc(var(--full-width) - (var(--margin-width-contact) * 2));
    height: 450px;
    margin: 0 var(--margin-width-contact);
    /* background-color: gold; */
}

div.grid-image-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: min-content;
}

div.grid_image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.grid_image img{
    width: var(--width-image-icon-contact)!important;
}

div.grid_image p{
    margin: 0;
    color: var(--color-text);
    font-family: var(--font-montserrat);
    width: var(--width-image-icon-contact);
    text-align: center;
}

form.form-contact{
    padding: 0;
    margin-top: 65px;
}

div.div-form{
    width: var(--full-width);
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    margin: var(--margin-top-bottom-form) 0;
}

div.grid-input-contact{
    width: var(--full-width);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    column-gap: 7vw;
}

div.div-form label{
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    color: var(--color-text);
}

div.div-form input{
    border-radius: var(--border-radius-input);
    background-color: var(--color-text);
    border: none;
    height: var(--height-input-contact);
    font-size: var(--font-size-input);
    font-family: var(--font-montserrat);
}

div.div-form input:focus-visible{
    outline: none;
    border: none;
}

div.div-form textarea{
    border-radius: var(--border-radius-input);
    background-color: var(--color-text);
    border: none;
    height: var(--height-textarea-contact);
    font-size: var(--font-size-input);
    font-family: var(--font-montserrat);
}

div.div-form textarea:focus-visible{
    outline: none;
    border: none;
}

div.div-grid-rgpd{
    display: grid;
    grid-template-columns: repeat(2,min-content);
    column-gap: 20px;
    grid-auto-rows: auto;
    width: var(--full-width);
    margin: var(--margin-top-bottom-form) 0;
}

div.grid1-rgpd{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[name="rgpd"]{
    width: var(--width-checkbox);
    height: var(--width-checkbox);
    appearance: none;
    background-color: var(--color-text);
    margin: var(--margin-unset);
    border: var(--border-checkbox);
    border-radius: var(--border-radius-input);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[name="rgpd"]::before{
    content: "";
    width: var(--width-checked);
    height: var(--width-checked);
    transform: scale(0);
    transition: ease-in-out 0.3s;
    background-color: var(--background-accueil);
    border-radius: 5px;
}

input[name="rgpd"]:checked::before{
    transform: scale(1);
}

p.text-rgpd{
    width: calc(50vw - var(--width-checkbox))!important;
    color: var(--color-text);
    font-family: var(--font-montserrat);
    font-size: medium;
}

div.div-boutton{
    width: var(--full-width);
    display: flex;
    justify-content: center;
}

button.boutton-envoyer{
    background-color: var(--background-boutton-application);
    border: none;
    color: var(--color-text);
    font-family: var(--font-montserrat);
    font-size: var(--font-size-input);
    padding: var(--padding-boutton-envoyer);
    border-radius: 10px;
    cursor: pointer;
}